<div class="cart_title"><%= t('.title') %></div>
<table>
	<%= render(cart.line_items) %>
	
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_local_currency(cart.total_price) %></td>
	</tr>
	
</table>
 
<%= button_to t('.checkout'), new_order_path, method: :get, :disabled => !@order.nil? %>  
<%= button_to t('.empty'), cart, method: :delete, remote: @order.nil?, confirm: 'Are you sure?'%>

