<h1><%= "Who Bought #{@product.title}" %></h1>

<table>
  <tr>
    <th>order id</th>
    <th>order to</th>
    <th>ship addr</th>
    <th>pay type</th>
  </tr>      
<% @product.orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.pay_type %></td>
    
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %> 
