<% if notice %>
	<p id="notice"><%= notice %> </p>
<% end %>
<h1><%= t('.title_html') %>
	<% if session[:counter] > 5 %> 
		<%= '(' + pluralize(session[:counter], 'view') + ')' %>
	<% end %>
</h1>
<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_local_currency(product.price) %></span>
			<%= button_to t('.add'), line_items_path(product_id: product), remote: true %>
		</div>
	</div>
<% end %>
