<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>"> 
	<div id="banner">
		<%= form_tag store_path, class: 'locale' do %>
			<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$('.locale input').hide()" %>
		<% end %> 
		<%= image_tag("logo.png") %>
		<%= @page_title || t('.title') %>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart">
				<% if @cart %>
					<%= hidden_div_if(@cart.line_items.empty?, id:'cart') do %>
						<%= render @cart %> 
					<% end %>
				<% end %>
			</div> 
			<ul>
				<li><a href="http://www..."><%= t('.home') %></a></li>
				<li><a href="http://www.../faq"><%= t('.questions') %></a></li>
				<li><a href="http://www.../news"><%= t('.news') %></a></li>
				<li><a href="http://www.../contact"><%= t('.contact') %></a></li>
				<br/>
				<li><a href="http://www.../time"><%= Time.now.strftime("%m/%d/%Y") %></a></li>
				<li>v1.0</li>
			</ul>
		    <% if session[:user_id] %>
		      <hr/>
		      <ul>
		        <li><%= link_to 'Orders',   orders_path   %></li>
		        <li><%= link_to 'Products', products_path %></li>
		        <li><%= link_to 'Users',    users_path    %></li>
		      </ul>
		      <%= button_to 'Logout', logout_path, method: :delete   %>
		    <% end %>			
		</div>
		<div id="main">
			<%= yield %>		
		</div>
	</div>
</body>
</html>
